<!DOCTYPE html>  
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <title></title> 
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark p-headernav">
            <div class="container">
              <a class="d-flex align-items-center col-md-3 mb-2 mb-md-0 navbar-brand" href="#">
                <img src="{% static 'logo1.png' %}" alt="Prestige Rides" width="100" height="100">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav justify-content-center mb-2 mb-md-0">
                    <li class="nav-item">{% url 'index' as index_url %}
                        <!-- Ceyhan - Why does this not work with index_url???? -->
                        <a  class="nav-link {% if request.path == index_url %}active{% else %}{% endif %}" href="{{ index_url }}">Home</a>
                    </li>
                    <li class="nav-item">{% url 'aboutUs' as aboutUs_url %}
                        <a  class="nav-link {% if request.path == aboutUs_url %}active{% else %}{% endif %}" href="{{ aboutUs_url }}">About Us</a>
                    </li>
                    <li class="nav-item">{% url 'brands' as brands_url %}
                        <a  class="nav-link {% if request.path == brands_url %}active{% else %}{% endif %}" href="{{ brands_url }}">Brands</a>
                    </li>
                    <li class="nav-item">{% url 'contactUs' as contactUs_url %}
                        <a  class="nav-link {% if request.path == contactUs_url %}active{% else %}{% endif %}" href="{{ contactUs_url }}">Contact Us</a>
                    </li>
                </ul>
                <div class="col-md-3 text-end" role="search">
                    <span style="color:white;">Right</span>
                </div>
              </div>
            </div>
          </nav>
    </body>
</html>
