<!DOCTYPE html>  
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">

        <title></title> 
    </head>
    <body>
        <div class="logo">
            <a href="#"><img src="website/website/templates/logo1.png" alt="logo" width="216px" height="100%"></a>
        </div>
        


        <nav>
            <ul>
                <li><a {% url 'index' as index_url %}></a>
                    <span>{% if request.path == index_url %}Home{% else %}<a href="{{ index_url }}">Home</a>{% endif %}</span></li>

                <li><a {% url 'aboutUs' as aboutUs_url %}></a>
                    <span>{% if request.path == aboutUs_url %}About Us{% else %}<a href="{{ aboutUs_url }}">About Us</a>{% endif %}</span></li>

                <li><a {% url 'brands' as brands_url %}></a>
                    <span>{% if request.path == brands_url %}Brands{% else %}<a href="{{ brands_url }}">Brands</a>{% endif %}</span></li>

                <li><a {% url 'contactUs' as contactUs_url %}></a>
                    <span>{% if request.path == contactUs_url %}Contact Us{% else %}<a href="{{ contactUs_url }}">Contact Us</a>{% endif %}</span></li>
                    
            </ul>
        </nav>

    </body>

</html>
